body
{
    background-color: #F5ECE0;
}

.title
{
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    display: block;
    border: 2px solid #B7410E;
}

.img-pos
{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: block;
}

.para
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: justify;
    border: 2px solid #B7410E;
    width: 50%;
}

.dotted
{
    display: block;
    border: 2px dotted #7F675B;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.solid
{
    display: inline-block;
    border: 5px solid #B7410E;
    padding: 10px 20px;
    margin: 20px;
    margin-left: auto;
    width: 35%;
}

.box-align
{
    text-align: center;
}

